
.footer{
  width: 3.75rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111111;
  margin-top:1rem;
  margin-left: -0.14rem;
  p{
    font-size: 0.12rem;
    text-align: center;
    margin: 0.04rem 0;
    color: #fff;
  }
}
h2{
  font-size: 0.14rem;
  height: 0.3rem;
  font-weight: 400;
  color: #111111;
  margin: 0.2rem 0.02rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span{
    &:nth-of-type(2){
      color: rgb(107, 107, 107);
      cursor: pointer;
    }
  }
}
.hide{
  opacity: 0;
}